.wrapper {
	background-color: #eff7f6;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}

@media (max-width: 767px) {
	#username {
		margin-bottom: 10px;
	}

	.wrapper {
		width: 85%;
	}
}